* {
  lost-utility: edit;
}

.content {
  lost-center: 900px;
}

.content--left-info,
.content--right-info {
  lost-column: 1/4 3;
  height: 45px;
}

.content--center-info {
  lost-column: 1/2 3;
  height: 45px;
}
